:root {
    /* --luaBlue: rgb(0, 0, 127); */
    --luaDark: rgb(26, 26, 56);
    --luaDark2: rgb(47, 47, 110);
    --luaDark3: rgb(43, 43, 95);
}

html, body {
    height: 90%;
    margin: 0;
}

body {
    background-color: rgb(15, 15, 33);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS';
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: var(--luaDark);
    margin: 10px 40% 10px 40%;
    border-radius: 10px;
}

/* Main Containers */
.buttonContainer {
    display: auto;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}
.center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    border: var(--luaDark2);
    border-width: 2px;
}
.center2 {
    align-items: center;
    display: none;
    justify-content: center;

    height: 100%;
    width: auto;

    border: var(--luaDark2);
    border-width: 2px;
}
.line { /* contains textarea */
    display: none;
    gap: 10px;

    font-family: monospace;
    line-height: 21px;

    background: var(--luaDark);
    border-radius: 10px;
    padding: 20px 10px;
    height: 80%;
    width: 80%;

    overflow-y: auto;
}

/* Button */
.button {
    display: flex;
    padding: 48px 100px;
    vertical-align: center;

    background-color: var(--luaDark2);
    border: none;
    border-radius: 10px;
    border-radius: 5px;
    
    color: white;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}  
.button:hover {
    background-color: var(--luaDark3);
    cursor:pointer;
}

#submitButton {
    align-self:flex-end;
    background: var(--luaDark2);
    color: white;

    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}
#submitButton:hover {
    background: var(--luaDark3);
    cursor: pointer;
}

/* Text Input Box (textarea | span) */
#textInput { /* textarea id */
    height: 80%;
    width: 100%;

    line-height: 21px;
    overflow-y: hidden;

    padding: 0;
    border: 0;
    background: var(--luaDark);
    color: #FFF;

    min-width: 500px;
    outline: none;
    resize: none;
} 
#sidebar { /* numbers the lines */
    width: 20px;
    text-align: right;
    /* height: 9999px; */
}
#sidebar span {
    counter-increment: linenumber;
}
#sidebar span::before {
    content: counter(linenumber);
    display: block;
    background-color: var(--luaDark);
    color: rgb(100, 95, 146);
}

